<html>
    <head>
	    <title>EventeX</title>
        <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
    </head>
	<body>
		<div id="page">
			<div id="header">
				<div>
					<h1>EventeX</h1>
					<div class="description">O melhor do melhor do melhor</div>
				</div>
			</div>
			<br/>
			<div id="content">
				<h1>Bem vindo ao EventeX</h1>
				<p>O evento mais sensacional do ano depois do casamento real.</p>
				<p>Voçê não pode perder esta oportunidade!</p>
				<p><b>Abertura das incrições em 21/12/2012.</b></p>
				<p>Para dúvidas e mais informações entre em contato com <a href="mailto:pernalonga@acme.com">pernalonga@acme.com</a></p>
			</div>
			<br/>
			<div id="footer">
				<p>@2011. Eventex todos os direitos reservados.<br/>Theme Preview is proudly powered by <a href="http://wordpress.org/">WordPress</a></p>
			</div>
		</div>
	</body>
</html>